@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
  font-size: 12px;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: aliceblue;
}

.photo-md{
  width: 80px;
  height: 90px;
}

.photo-lg{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.photo-xlg{
  width: 240px;
  height: 260px;
  border-radius: 5px;
}

.spinner{
  width: 60px;
  height: 60px;
}